.login {
  text-align: center;
  box-shadow: 2px 2px 2px 2px #bfbdbd;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5%;

}
.sitebar{
  width: 225px;
  padding: 10px 0 0 10px;
}
.btn-sitebar {
  background: rgba(235, 235, 235, 0.64);
  border: none;
  margin-bottom: 10px;
  height: 45px;
  width: 210px;
  border-radius: 8px;
}

.btn-dropdown {
  justify-content: space-around;
  display: flex;
  align-items: center
}

.icon-dropdown {
  width: 15px;
}
.option{
  width: 180px;
}
.header{
  background: antiquewhite;
  height: 56px;
  align-content: center;
  border-bottom: 2px solid #9d9d9d;
}
.product-management{
  padding: 10px 15px 0 30px;
  flex-grow: 1;
}
.attribute-content{
  width: 50%;
  padding: 5px;
  height: fit-content;
  max-height: 290px;
  overflow-y: auto;
}
.list-publisher{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.head-table{
  display: flex;
  justify-content: space-between;
  padding: 4px 32px 0 32px;
  border-bottom: 1px solid #e2e2e2;
  justify-items: center;
  height: 35px;
}
.icon-add{
  width: 25px;
  height: 25px;
}
.add-attribute{
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup{
  width: 400px;
  height: 210px;
  border-radius: 8px;
  background:#ffff ;
}
.header-popup{
  height: 50px;
  border-radius: 8px 8px 0 0;
  align-content: center;
  text-align: end;
  padding-right: 10px;
}
.content-popup{
  align-content: center;
  height: 160px;
  padding: 10px;
}

/*common*/
.text-align{
    text-align: end;
}
.bold-text{
  font-weight: 500;
}
.margin-right{
  margin-right: 10px
}
.update-row{
 margin-left: 0 !important;
  margin-right: 0 !important;
}
.box-shadow{
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #b1b1b1;
}
