.login {
  text-align: center;
  box-shadow: 2px 2px 2px 2px #bfbdbd;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5%;

}
.sitebar{
  width: 210px;
}
.btn-sitebar {
  background: rgba(235, 235, 235, 0.64);
  border: none;
  margin-bottom: 10px;
  height: 45px;
  width: 210px;
  border-radius: 8px;
}

.btn-dropdown {
  justify-content: space-around;
  display: flex;
  align-items: center
}

.icon-dropdown {
  width: 15px;
}
.option{
  width: 180px;
}

